target
.env
.project
Procfile*
!Procfile.dev
.idea

application/webroot/WEB-INF/*
!application/webroot/WEB-INF/*.xml
!application/webroot/WEB-INF/lib/
!application/webroot/WEB-INF/lucee/

application/webroot/WEB-INF/lib/*
!application/webroot/WEB-INF/lib/lucee-server/

application/webroot/WEB-INF/lib/lucee-server/*
!application/webroot/WEB-INF/lib/lucee-server/context/

application/webroot/WEB-INF/lib/lucee-server/context/*
!application/webroot/WEB-INF/lib/lucee-server/context/lucee-server.xml

application/webroot/WEB-INF/lucee/*
!application/webroot/WEB-INF/lucee/lucee-web.xml.cfm

db*
