target
.env
.project
Procfile*
!Procfile.dev
.idea

app/webroot/WEB-INF/*
!app/webroot/WEB-INF/*.xml
!app/webroot/WEB-INF/lib/
!app/webroot/WEB-INF/lucee/

app/webroot/WEB-INF/lib/*
!app/webroot/WEB-INF/lib/lucee-server/

app/webroot/WEB-INF/lib/lucee-server/*
!app/webroot/WEB-INF/lib/lucee-server/context/

app/webroot/WEB-INF/lib/lucee-server/context/*
!app/webroot/WEB-INF/lib/lucee-server/context/lucee-server.xml

app/webroot/WEB-INF/lucee/*
!app/webroot/WEB-INF/lucee/lucee-web.xml.cfm

db*
